<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="gazebo_head.xacro" />
    <xacro:include filename="gazebo_car.xacro" />
    <xacro:include filename="gazebo_laser.xacro" />
    <xacro:include filename="gazebo_camera.xacro" />
    <xacro:include filename="gazebo_sensors.xacro" />
    
    <!-- 修复后的move.urdf.xacro内容 - 解决TF冲突 -->
    <!-- 传动实现:用于连接控制器与关节 -->
    <xacro:macro name="joint_trans" params="joint_name">
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    
    <!-- 只为两个驱动轮配置传动装置 -->
    <xacro:joint_trans joint_name="left_wheel2base_link" />
    <xacro:joint_trans joint_name="right_wheel2base_link" />
    
    <!-- 修复后的差分驱动控制器 - 解决TF冲突和速度问题 -->
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>Info</rosDebugLevel>
            <publishWheelTF>true</publishWheelTF>           <!-- 让gazebo负责wheel TF -->
            <robotNamespace>/</robotNamespace>
            <publishTf>true</publishTf>                     <!-- 发布odom->base_footprint -->
            <publishWheelJointState>true</publishWheelJointState>  <!-- 发布关节状态 -->
            <alwaysOn>true</alwaysOn>
            <updateRate>20.0</updateRate>                   <!-- 降低更新频率，减少冲突 -->
            <legacyMode>true</legacyMode>
            <leftJoint>left_wheel2base_link</leftJoint>
            <rightJoint>right_wheel2base_link</rightJoint>
            <wheelSeparation>${base_link_width - wheel_length}</wheelSeparation>
            <wheelDiameter>${wheel_radius * 2}</wheelDiameter>
            <broadcastTF>true</broadcastTF>                 <!-- 确保发布TF -->
            <wheelTorque>100</wheelTorque>                  <!-- 增加扭矩 -->
            <wheelAcceleration>5.0</wheelAcceleration>      <!-- 增加加速度 -->
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryTopic>odom</odometryTopic>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            
            <!-- 添加噪声模型，提高仿真真实性 -->
            <odometrySource>world</odometrySource>          <!-- 使用world坐标系 -->
            <publishOdomTF>true</publishOdomTF>             <!-- 发布odom TF -->
        </plugin>
    </gazebo>
</robot>