<?xml version="1.0"?>
<!--  Gazebo传感器配置定义文件  -->

<!-- 此文件定义了机器人在Gazebo仿真中的传感器配置，包括摄像头和激光雷达 -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ============ 摄像头传感器配置 ============================ -->
  
  <!-- 摄像头传感器配置 -->
  <gazebo reference="camera">
    <!-- 摄像头传感器类型配置 -->
    <sensor type="camera" name="camera_node">
      <update_rate>30.0</update_rate> <!-- 摄像头更新频率（Hz） -->
      
      <!-- 摄像头基本参数设置 -->
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>  <!-- 水平视场角（弧度） -->
        
        <!-- 图像参数 -->
        <image>
          <width>1280</width>          <!-- 图像宽度（像素） -->
          <height>720</height>         <!-- 图像高度（像素） -->
          <format>R8G8B8</format>      <!-- 图像格式 -->
        </image>
        
        <!-- 裁剪参数 -->
        <clip>
          <near>0.02</near>            <!-- 近裁剪面（米） -->
          <far>300</far>               <!-- 远裁剪面（米） -->
        </clip>
        
        <!-- 噪声模型 -->
        <noise>
          <type>gaussian</type>         <!-- 高斯噪声类型 -->
          <mean>0.0</mean>             <!-- 噪声均值 -->
          <stddev>0.007</stddev>       <!-- 噪声标准差 -->
        </noise>
      </camera>
      <!-- 核心插件 -->
      <plugin name="gazebo_camera" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>/camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <!-- 激光雷达传感器配置 -->
  <gazebo reference="laser">
    <sensor type="ray" name="rplidar">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>5.5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3</min_angle>
            <max_angle>3</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>
        <frameName>laser</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>